<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614869463438-rei1s0lqm4bsnubhtp5bi1momr0c5euq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614869463438-rei1s0lqm4bsnubhtp5bi1momr0c5euq</string>
	<key>API_KEY</key>
	<string>AIzaSyBmn5pEKPta3ABgst7rrjh-kbO3hWtE8A4</string>
	<key>GCM_SENDER_ID</key>
	<string>614869463438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodcourt</string>
	<key>PROJECT_ID</key>
	<string>foodcourt-5775b</string>
	<key>STORAGE_BUCKET</key>
	<string>foodcourt-5775b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614869463438:ios:2310bc365e7ba3a6cbf4df</string>
	<key>DATABASE_URL</key>
	<string>https://foodcourt-5775b-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>